#skills { 
	.content {
		
		max-width:70%;
		margin:0 15%;
	}
	.niceCenter {
		height:100%;
		padding:8em 0 0 0;
	}
}

.skills{

	.skillWrap {
		margin:10% 0 20px 0;
		h5 {
			color:$orange;
			text-align:center;
			font-size:1em;
			width: 50%;
			margin: 0 auto;
			letter-spacing:1px;
		}
	}

	h4 {
		color:$orange;
		font-size:.9em;
	}

	p {
		color:#333;
		font-size:.8em;
	}

	.row {
		width:100%;
		float:left;

		.col-sm-4 {
			width:27%;
			margin:0 3%;
			float:left;
		}
	}

}




